<!DOCTYPE html>
<html lang="en">
<head>
    <title>Regjistrim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="contanier">
    <div class="row" style="width: 400px; margin: 0 auto; padding-top: 50px;">
<form action="" method="POST">
    <div class="form-group">
        <label for="usr">Emer:</label>
        <input type="text" class="form-control" name="fName">
    </div>
    <div class="form-group">
        <label for="mbr">Mbiemer:</label>
        <input type="text" class="form-control" name="lName">
    </div>
    <div class="form-group">
        <label for="pwdconfirm">Username:</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="eml">Email :</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-info">Sign Up</button>
    or if have an account <a href="/login">Sign In</a>
</form>
    </div>
</div>
</body>
</html>
